body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(248, 248, 248, 1);
}

span.highlight {
  background-color: rgba(0, 200, 0, 0.25);
  padding: 2px 2px 2px 2px;
  /* css 3 */
  border-radius:5px;
  /* mozilla */
  -moz-border-radius:5px;
  /* webkit */
  -webkit-border-radius:5px;
}

.list-group-item.repo-name {
  color: rgba(0, 188, 225, 1);
  font-family: inherit;
}

.markdown {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.spinner {
  margin-top: 20px;
  margin-left: 35%;
}

.repo-info-container {
  padding-bottom: 100px;
}
