nav.Header.navbar-default {
  background-color: rgb(122,125,183);
}

nav a.app-link.white:enabled {
  color: white;
}

ul a.app-link.white:hover {
  color: #c9e6f2;
}

.navbar-brand.app-link {
  text-shadow: 1px 1px rgba(120,120,120,1);
}

.github-logo {
  height: 90%;
  width: 90%;
  margin-top: -5px;
}

.user-thumbnail {
  height: 9%;
  width: 9%;
  border-radius: 50%;
  margin-top: -10px;
}
