
.repo-content {
  background-color: white;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.004em;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-family: sans-serif;
  padding: 5px 20px 5px 20px;
  border-radius:5px;
  border: 1px solid rgba(122,125,183,0.33);
}

.repo-content p{
  white-space: pre-wrap;
}

.repo-content.red *::selection{
  background: #ffb7b7;
}

.repo-content.red *::-moz-selection{
  background: #ffb7b7;
}

.repo-content.green *::selection {
  background: #beffb9;
}

.repo-content.green *::-moz-selection {
  background: #beffb9;
}

.repo-content.blue *::selection {
  background: #a0e2ff;
}

.repo-content.blue *::-moz-selection {
  background: #a0e2ff;
}

.repo-content.none *::selection {
  background: #f0f0f0;
}

.repo-content.none *::-moz-selection {
  background: #f0f0f0;
}
