.list-group-item.repo-name {
  color: rgba(0, 188, 225, 1);
  font-family: inherit;
}

.form-control {
  /* css 3 */
border-radius:15px;
/* mozilla */
-moz-border-radius:15px;
/* webkit */
-webkit-border-radius:15px;
}

.input-group-addon{
  /* css 3 */
border-radius:15px;
/* mozilla */
-moz-border-radius:15px;
/* webkit */
-webkit-border-radius:15px;

background-color: rgba(248, 248, 248, 1);
}
