
.HighlightSelector {
  color: #68777d;
  background-color: #f2f9fc;
  border: 1px solid #c9e6f2;
  opacity: 0.97;
  min-height: 80px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.HighlightSelector .btn.btn-default {
  color: #68777d;
  background-color: #f2f9fc;
  border: 1px solid #c9e6f2;
  border-radius: 3px;
  z-index: 2;
  margin-right: 7px;
}

.HighlightSelector .btn.btn-default:focus {
  outline: none;
}

/*#BEFFB0*/
.HighlightSelector .btn.btn-default.green.focused {
  outline: none;
  border: 1px solid #c9e6f2;
  background-color: #e2e5e4;
  -webkit-box-shadow:0 0 10px #beffb9;
  -moz-box-shadow: 0 0 10px #beffb9;
  box-shadow:0 0 10px #beffb9;
}

/**/
.HighlightSelector .btn.btn-default.red.focused {
  outline: none;
  border: 1px solid #c9e6f2;
  background-color: #e2e5e4;
  -webkit-box-shadow:0 0 10px #ffb7b7;
  -moz-box-shadow: 0 0 10px #ffb7b7;
  box-shadow:0 0 10px #ffb7b7;
}


/*#B1D6FF*/
.HighlightSelector .btn.btn-default.blue.focused {
  outline: none;
  border: 1px solid #c9e6f2;
  background-color: #e2e5e4;
  -webkit-box-shadow:0 0 10px #a0e2ff;
  -moz-box-shadow: 0 0 10px #a0e2ff;
  box-shadow:0 0 10px #a0e2ff;
}


.HighlightSelector .save-btn.btn.btn-default.green:enabled {
  outline: none;
  color: #beffb9;
  border: 1px solid #c9e6f2;
  -webkit-box-shadow:0 0 10px #beffb9;
  -moz-box-shadow: 0 0 10px #beffb9;
  box-shadow:0 0 10px #beffb9;
}

/**/
.HighlightSelector .save-btn.btn.btn-default.red:enabled {
  outline: none;
  border: 1px solid #c9e6f2;
  color: #ffb7b7;
  -webkit-box-shadow:0 0 10px #ffb7b7;
  -moz-box-shadow: 0 0 10px #ffb7b7;
  box-shadow:0 0 10px #ffb7b7;
}

/*#B1D6FF*/
.HighlightSelector .save-btn.btn.btn-default.blue:enabled {
  outline: none;
  color: #a0e2ff;
  border: none;
  -webkit-box-shadow:0 0 10px #a0e2ff;
  -moz-box-shadow: 0 0 10px #a0e2ff;
  box-shadow:0 0 10px #a0e2ff;
}


.HighlightSelector .save-btn.btn.btn-default {
  border: none;
  background-color: #68777d;
  color: #f2f9fc;
}


.HighlightSelector input.highlighter-field {
  height: 100%;
  color: #68777d;
  background-color: #f2f9fc;
  border: none;
}

.HighlightSelector input.highlighter-field:focus {
  outline:none;
  box-shadow: none;
  background: transparent;
  border-bottom: 2px solid #c9e6f2;
}


.HighlightSelector .highlight-bar {
  display: table;
}
